<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div id="container"></div>
      <div id="app">
        <p>双向绑定测试：</p>
        <p>num1:<input type="text" v-model="num1" /></p>
        <p>num2:<input type="text" v-model="num2" /></p>
        <p>num3:<input type="text" v-model="num3" /></p>
        <hr />
        <p>comput测试：</p>
        <p><span>num1、num2相加:</span><span>{{reduce}}</span></p>
        <p><button @click="handleNumAdd">num+1</button></p>
        <hr />
        <p>对象深层绑定测试：</p>
        <p>student.name:<input type="text" v-model="student.name" />->{{student.name}}</p>
        <hr />
        <p>vuex测试：</p>
        <p>store.state.count:{{$store.state.count}}</p>
        <p><button @click="handleCountAdd">commit中count+1</button></p>
        <p><button @click="handleCountNormalAdd">method中直接count+1</button></p>
      </div>
    </div>
    <script type="module" src="./src/vue2/run.js"></script>
  </body>
</html>
